SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=
SPOTIFY_AUTH_BASE_URL=https://accounts.spotify.com
SPOTIFY_API_BASE_URL_V1=https://api.spotify.com/v1
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=1
NEXT_PUBLIC_CONVEX_URL=
CONVEX_SELF_HOSTED_URL=
CONVEX_SELF_HOSTED_ADMIN_KEY=